*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: grey;
  font-family: 'Roboto', sans-serif;
  color: #33475b;
}

a{
  text-decoration: none;
  color: #33475b;
}

.container{
  width: 80%;
  margin: auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

/* header */

header{
  height: 1000px;
  background-color: lightblue;
}

header nav:first-of-type{
  background-color: #f4f9fd;
}

header nav:last-of-type{
  background-color: #ffffff;
}

.nav-top .nav-top-left{
  width: 50%;
  height: 75px;
  line-height: 75px;
}

.nav-top-left .language{
  width: 28%;
}

.nav-top-left .language i,span{
  padding-right: 5px;
}

.nav-top-left .language i:nth-of-type(1n+2){
  border-right: 2px solid #33475b;
  width: 32px;
}

.nav-top-left .contact{
  width: 72%;
}

.contact a{
  padding-left: 20px;
}

.nav-top .nav-top-right{
  width: 50%;
  height: 75px;
  line-height: 75px;
  text-align: right;
}

.nav-top-right .search i,a{
  padding-left: 10px;
}

.nav-top-right i{
  width: 20px;
  margin-right: 20px;
  color: #00a4bd;
}

.nav-top-right a:first-of-type{
  color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 5px;
  background-color: white;
  padding: 8px 5px;
  margin-right: 20px;
}

.nav-top-right a:last-of-type{
  color: white;
  border: 1px solid #fe775a;
  border-radius: 5px;
  background-color: #fe775a;
  padding: 8px 5px;
}

header hr{
  2px solid #33475b;
}

.nav-bottom{
  height: 75px;
  background-color: green;
}

.nav-bottom .nav-bottom-left{
  width: 25%;
  height: 75px;
  line-height: 75px;
}

.nav-bottom-left img{
  padding-top: 20px;
}

.nav-bottom .nav-bottom-right{
  width: 75%;
  height: 100%;
  background-color: yellow;
}

/* /header */

/* main */

main{
  height: 1000px;
  background-color: orange;
}

/* /main */

/* footer */

footer{
  height: 600px;
  background-color: purple;
}

/* /footer */
