*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: grey;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
}

a{
  text-decoration: none;
  color: #33475b;
}

li{
  list-style: none;
}

.container{
  width: 80%;
  margin: auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.btn{
  color: white;
  border: 1px solid #fe775a;
  border-radius: 5px;
  background-color: #fe775a;
  padding: 15px 25px;
  font-size: 13px;
  font-weight: 550;
}

/* header */

header{
  position: relative;
}

header nav:last-of-type{
  background-color: #ffffff;
}

.nav-top{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #f4f9fd;
}

.nav-bottom{
  margin-top: 75px;
}

.nav-top .nav-top-left{
  width: 50%;
  height: 75px;
  line-height: 75px;
}

.nav-top-left .language{
  width: 40%;
}

.nav-top-left .language li{
  display: inline-block;
  margin-right: 5px;
}

.language li span{
  width: 2px;
  border-right: 2px solid #33475b;
  padding-left: 15px;
}

.nav-top-left .contact{
  width: 60%;
}

.nav-top .nav-top-right{
  width: 50%;
  height: 75px;
  line-height: 75px;
  text-align: right;
}

.nav-top-right .search i,a{
  padding-left: 10px;
}

.nav-top-right i{
  width: 20px;
  margin-right: 20px;
  color: #00a4bd;
}

.nav-top-right a:first-of-type{
  color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 5px;
  background-color: white;
  padding: 8px 5px;
  margin-right: 20px;
}

.nav-top-right a:last-of-type{
  color: white;
  border: 1px solid #fe775a;
  border-radius: 5px;
  background-color: #fe775a;
  padding: 8px 5px;
}

header hr{
  2px solid #33475b;
}

.nav-bottom .nav-bottom-left{
  width: 25%;
  height: 75px;
  line-height: 75px;
}

.nav-bottom-left img{
  vertical-align: middle;
}

.nav-bottom .nav-bottom-right{
  width: 75%;
  height: 75px;
  line-height: 75px;
  text-align: right;
}

.nav-bottom-right li{
  list-style: none;
  display: inline-block;
  padding-left: 10px;
}

.jumbotron{
  height: 680px;
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-color: #fff4ef;
  box-shadow: inset 0 3px 8px rgba(0,0,0,0.1);
}

.img-fix{
  width: 100%;
  height: 83px;
  background-color: #afebe4;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 4px solid #33475b;
  border-bottom: 4px solid #33475b;
}

.jumbotron .title{
  padding-top: 50px;
}

.title h1{
  font-size: 40px;
  width: 40%;
}

.title p{
  width: 40%;
  padding: 40px 0;
  line-height: 1.8;
  font-size: 13px;
  /* font-weight: 550; */
}

/* /header */

/* main */

section{
  background-color: #f4f9fd;
}

section .powerful .first-row{
  width: 100%;
  height: 450px;
  text-align: center;
}

.powerful .first-row img{
  width: 20%;
  margin-top: 50px;
}

.powerful .first-row p{
  width: 83%;
  margin: auto;
  padding: 30px 0;
  line-height: 1.6;
  font-weight: 550;
}

section .second-row{
  width: 100%;
  height: 400px;
  background-color: white;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 40px;
}

.second-row .second-row-left{
  width: 30%;
  height: 100%;
  position: relative;
}

.second-row-left .learn-more{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.learn-more .learn-more-img{
  width: 100%;
  margin-bottom: 20px;
}

.learn-more .learn-more-link{
  width: 100%;
}

.second-row .second-row-right{
  width: 70%;
  height: 100%;
  position: relative;
}

.second-row-right .free{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.second-row-right .free p{
  width: 70%;
  margin: 20px 0;
  line-height: 1.8;
}

.second-row-right .free h3{
  width: 30%;
  display: inline-block;
  text-transform: uppercase;
}

.second-row-right .free .line{
  width: 60%;
  display: inline-block;
}

.line hr{
  border: 2px solid grey;
  margin-bottom: 4px;
}

.second-row-right .free li{
  display: inline-block;
  margin-right: 20px;
  margin-top: 30px;
}

.second-row-right .free li i{
  padding-right: 10px;
  color: #fe775a;
}

section .hub{
  padding: 50px 0;
}

section .hub .marketing, .sales, .service{
  width: 30%;
  background-color: white;
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.hub .sales{
  margin: 0 5%;
}

.hub img{
  height: 100px;
  margin-bottom: 20px;
}

.hub p{
  height: 100px;
  margin-top: 40px;
  line-height: 1.6;
}

.hub hr{
  margin-top: 80px;
  border: 2px solid gray;
}

.hub h3{
  margin: 40px 0;
  text-transform: uppercase;
}

.hub ul{
  margin-bottom: 50px;
  text-align: left;
}

.hub li{
  margin-bottom: 5px;
}

.hub li i{
  margin-right: 10px;
  color: #fe775a;
}

section:nth-child(3n+3){
  background-image: linear-gradient(to right, #00a7bb, #00b5ad);
}

section .learn{
  padding: 50px 0;
  text-align: center;
  color: white;
}

.learn h2{
  font-size: 25px;
}

.learn p{
  margin: 30px 0;
  line-height: 1.6;
  font-size: 13px;
  font-weight: 500;
}

.learn .boxes{
  width: 25%;
  height: 170px;
}

.learn .border-btm{
  border-bottom: 1px solid white;
}

.learn .border-right{
  border-right: 1px solid white;
}

.learn .boxes img{
  padding-top: 20px;
}

.learn .boxes h3{
  font-size: 40px;
  padding: 10px 0;
}

.learn .boxes h3::after{
  content: '+';
  font-size: 25px;
  font-weight: normal;
  padding-left: 5px;
}

section:nth-child(4n+4){
  background-color: white;
}

section .sponsor{
  padding: 50px 0;
}

.sponsor .sponsor-top .counter{
  width: 20%;
  margin-left: 90px;
}

.sponsor-top .counter h2{
  font-size: 50px;
  padding-bottom: 40px;
}

.sponsor-top .counter p{
  line-height: 1.6;
}

.sponsor-top .brands{
  width: 60%;
  float: right;
}

.brands img{
  width: 22%;
  vertical-align: middle;
  text-align: right;
  margin-left: 10px;
  margin-bottom: 5px;
}

.sponsor-btm .start{
  width: 40%;
  margin-top: 150px;
}

.start h2{
  font-size: 26px;
}

.start p{
  margin: 40px 0;
  line-height: 1.6;
  font-size: 13px;
}

.start p:nth-last-of-type(2n+1){
  font-size: 11px;
}

.sponsor-btm .woman{
  float: right;
}

.woman img{
  height: 400px;
  margin-top: 40px;
}
/* /main */

/* footer */

footer{
  background-color: #32495b;
  color: white;
}

footer a{
  color: white;
}

.footer-top .column{
  width: calc(25% - 20px);
  margin-right: 20px;
  padding-top: 50px;
}

.footer-top .column:nth-last-of-type(4n+1){
  margin: 0;
}

.footer-top .column li{
  font-size: 13px;
  margin: 20px 0;
}

#support{
  color: #33475b;
  background-color: white;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 11px;
  margin-left: 10px;
}

.column li a i{
  margin-right: 10px;
  font-size: 15px;
}

footer .footer-middle{
  padding-top: 50px;
  text-align: center;
  border-bottom: 1px solid white;
}

.footer-middle li{
  display: inline-block;
}

footer .footer-btm{
  margin-top: 50px;
}

.footer-btm .footer-btm-left{
  width: 50%;
  height: 200px;
}

.footer-btm .footer-btm-right{
  width: 50%;
  height: 200px;
  text-align: right;
}

.footer-btm-right li{
  display: inline-block;
  margin-left: 20px;
}

footer .chat{
  /* width: 200px;
  height: 200px; */
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.chat .message{
  width: 200px;
  background-color: white;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
}

.chat .message .avatar{
  position: absolute;
  top: -20px;
}

.chat .message .avatar img{
  width: 60px;
  margin-left: 70px;
  top: -24px;
}

.chat .message .chat-text p{
  padding-top: 20px;
  color: #425B76;
  line-height: 1.6;
}

.chat-text i{
  margin-left: 170px;
  font-size: 20px;
  color: #33475b;
}

.chat-text i:hover{
  cursor: pointer;
}

.chat .ico{
  width: 100%;
  height: 100px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.ico i{
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 30px;
  border-radius: 50%;
  padding: 20px;
  background-color: #425B76;
  box-shadow: 1px 1px  1px #425B76;
}

.ico i:hover{
  cursor: pointer;
}
/* /footer */
